# Vision model for color verification
OLLAMA_VISION_MODEL=qwen2.5vl:7b

# Shopping workflow
SHOPPING_WORKFLOW_DIR=workflows/online-shopping
USER_ID=user_1
ANTHROPIC_API_KEY=###
BROWSER_USE_API_KEY=###
BESZEL_TOKEN=###
BESZEL_KEY=###

